useDynLib(msPCA)
importFrom(Rcpp, evalCpp)
export("mspca")
export("tpw")
export("print_mspca")
export("orthogonality_violation")
export("pairwise_correlation")
export("fraction_variance_explained")